* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: var(--white);
    color: var(--wenge-brown);
    font-family: var(--outfit);
}

h1 {
    color: var(--dark-charcoal);
    font-size: 4rem;
    font-family: var(--font-young-serif);
    font-weight: 400;
}

h2 {
    color: var(--nutmeg);
    font-family: var(--font-young-serif);
    font-weight: 400;
    font-size: 3rem;
}

img {
    max-width: 100%;
}

span {
    font-weight: 700;
}

section {
    padding: 3rem 0 0 0;
}

ul {
    color: var(--dark-raspberry);
}

li {
    color: var(--wenge-brown);
    line-height: 2;
}

hr {
    color: var(--light-grey);
}